dist
cabal-dev
.hsenv
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*.a
*.cmxa
*.cm[oxai]
*.annot
*.vmap
*.di?
*.native
*.fqout
*.out
*.fq
*.bfq
*.annot
*.cgi
*.log
*.html
*.pyc
build.sh
config.make
*.scalarlog
*.tags
_build
*~
*.swp
*.swo
dist-newstyle
.cabal-sandbox/
cabal.sandbox.config
.ghc.environment.*
cabal.project.local
.stack-work/

TAGS
tags*
a.out

*.smt2
.liquid
.dir-locals.el
.vim

*.dyn_hi
*.dyn_o
*.hi-boot
*.o-boot
*.json
.vscode